.box-input{
    background-color: #fff;
    color: brown;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
    margin: 10px;
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";