.button-flat-circle {
    border: 1px solid #801515;        /* border: tebal[px] tipe[solid,dashed,dotted] warna[#hex, rgb()]; */
    background-color: #801515;        /* ubah warna background */
    color: #FFFFFF;                   /* ubah warna font */
    font-size: 16px;                  /* ubah ukuran font */
    width: 100px;                     /* set panjang button. ukuran width = ukuran height */
    height: 100px;                    /* set tinggi button. ukuran width = ukuran height */
    line-height: 16px;                /* set line height = font size */
    text-align: center;               /* text posisi center */
    border-radius: 50%;               /* set radius sudut pada button */
}
.button-flat-circle:hover {
    opacity: 0.8;                     /* ubah tingkat transparansi saat cursor menuju button. 0.0 s.d 1.0 */
}
.button-flat-circle:active {
    background: #550000;              /* ubah background saat button ditekan */
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";