.logo{
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
    
}

.logo p{
    font-size: 20px;
    
}
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";




